* {
    margin: 0 auto;
    padding: 0;
}

body {
    height: 86vh;
}

ul {
    list-style-type: none;
    margin-left: 0;
    background-color: #FFFFFF;
    border: 1px solid #000000;
}

.drop-menu {
    border: 1px solid #000000;
    visibility: hidden;  
}

ul li:hover {
    background-color: rgba(89, 165, 186, 0.86);
    cursor: pointer;
    font-weight: bold;
    font-size: 2rem;
}

.onselect {
    background-color: rgba(89, 165, 186, 0.86);
    cursor: pointer;
    font-weight:bold;
    font-size: 2rem;
}

.ondeselect {
    background-color: #FFFFFF;
}

.menu {
    display: flex;
    flex-direction: column;
    width: 40rem;
    height:100%;
}

#clean {
    position: absolute;
    top: 0px;
    right: 0px;
}

#icon {
    padding: 0.5rem;
    height: 2rem;
    width: 2rem;
}

#container {
    position: relative;
}

input {
    width: 40rem;
    height: 3rem;
    font-size: 1.5rem;
    color: #205C67;
    box-shadow: rgba(38, 36, 36, 0.72) 1px 1px;
}

input:hover {
 box-shadow: rgba(38, 36, 36, 0.72) 3px 3px;
 background-color: #F4f5C8;
 cursor: pointer;
}

input:active {
        background-color: #F4F5C8;
}

li {
    max-height: 4rem;
    font-size: 1.5rem;
    width: 40rem;
    color: #205C67;
}

.im {
    width: 40rem;
    height: 10rem;
    margin-top: 10rem;
}

#logo {
    width: 40rem;
    height: 8rem;
    opacity: 0.7;
}

#suggestion {
    max-height: 10rem;
    overflow: auto;
}
