* {
    margin: 0 auto;
    padding: 0;
}

ul {
    list-style-type: none;
    margin-left: 0;
    background-color: #FFFFFF;
    border: 1px solid #000000;
}

.drop-menu {
    border: 1px solid #FFFFFF;
    visibility: hidden;  
}

ul li:hover {
    background-color: rgba(89, 165, 186, 0.86);
}

.menu {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    width: 40rem;
    height:40rem;
}

input {
    width: 40rem;
    height: 3rem;
    font-size: 1.5rem;
    color: #205C67;
    box-shadow: rgba(38, 36, 36, 0.72) 1px 1px;
}

input:hover {
 box-shadow: rgba(38, 36, 36, 0.72) 3px 3px;
 background-color: #E5D997;
}

input:active {  
    background-color: #E4D488;
}

li {
    height: 1.2rem;
    font-size: 1rem;
    width: 40rem;
    color: #205C67;
}

.im {
    width: 40rem;
    height: 10rem;
}

#logo {
    width: 40rem;
    height: 8rem;
    opacity: 0.7;
}
